/* original sizing */
* {
	margin: 50;
	padding: 50;
	box-sizing: border-box;
	font-family: 'montserrat', sans-serif;
}

/* changes with the background */
body {
	background: var(--light);
	color: var(--dark);
    align-items: center;
}

h1{
    font-size: 36px;
    font-weight: 600;
}

p{
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.pillars{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.submit{
    justify-content: center;
    text-align: center; 
}


/* ----------------------- pillar columns ---------------------------*/
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

h2{
    text-align: center;
    margin-bottom: -20px
}


/* heading 3 */
h3 {
	color: var(--dark);
	font-size: 1rem;
	font-weight: 400;
	margin-bottom: 0.5rem;
}

/* heading 4 */
h4 {
	color: var(--grey);
	font-size: 0.875rem;
	font-weight: 700;
	margin-bottom: 0.5rem;
}

/* ------------------ smaller screen for pillars part ---------------*/

@media(max-width: 700px){
    .row{
        flex-direction: column;
    }
}

/* --------------------------- pillars part 2 --------------------------*/
.pillartwo{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: px;50
    padding-bottom: 0px;
}

.pil-col{
    flex-basis: 32%;
    border-radius: 20px;
    margin-bottom: 5%;
    margin-right: 1.5%;
    text-align: left;
    padding: 10px 12px;
    box-sizing: border-box;
    transition: 0.5s;
    background-color: rgb(108, 201, 235);
}

.pil-col p{
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 0px;
    padding-left: 0;
}
.pil-col h3{
    font-size: 18px;
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: left;
}

.pil-col:hover{
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}

@media(max-width: 700px){
    .row{
        flex-direction: column;
    }
}

/* --------------------------- titles settings --------------------------*/


/* text style for title */
.greeting .title {
	display: flex;
}

.greeting .title input {
	margin-left: 10rem;
	flex: 1 1 0%;
	min-width: 0;
}


.greeting .title, 
.greeting .title input {
	color: var(--dark);
	font-size: 1.5rem;
	font-weight: 700;
}

/* --------------------------- checkboxes--------------------------*/

.checkbox{
    display: inline-flex; 
    align-items: center;
    cursor: pointer;
}

h5{ 
    font-size: small;
    color: #888;
    font-weight: 100;
    padding: 0;
}
/* --------------------------- submit button formatting --------------------------*/

.pillarthree{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 0px;
}
